<?xml version="1.0"?>

<model>
  <name>parallelepiped</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Marco Agatensi</name>
    <email>marcoagatensi@gmail.com</email>
  </author>

  <description>
    è un parallelepipedo color legno chiaro
  </description>
</model>
