<?xml version="1.0"?>

<model>
  <name>garage_door</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Marco Agatensi</name>
    <email>marcoagatensi@gmail.com</email>
  </author>

  <description>
    A model of a garage door
  </description>

  <depend>
  </depend>
</model>
